/* Estilo del panel */
button {
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button img {
    display: block;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px 5px rgba(128, 0, 128, 0.6),
        0 0 25px 10px rgba(128, 0, 128, 0.4);
}

/* Fondo dinámico del panel principal */
body {
    background: linear-gradient(120deg, #6a0572, #c64277, #f9c3ff);
    background-size: 300% 300%;
    animation: gradient-bg 10s ease infinite;
}

@keyframes gradient-bg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Borde luminoso dinámico */
.borde-luminoso::before {
    background: linear-gradient(45deg, #ff79c6, #bd93f9, #ffb86c, #ff79c6);
}